
  <div class="container-fluid" >
<!-- <table  *ngFor="let device of Devices"> -->

    <div class="row" >
      <div class="col-md">
        B.26
      </div>
      <div class="col-md">
        B.24
      </div>
      <div class="col-md">
        B.16
      </div>
      <div class="col-md">
       B.14
      </div>
      <div class="col-sm">
        B.12
      </div>
      <div class="col-sm">
       B.10
       <tr *ngFor="let dev of Devices">
        <td>{{Dev.Temp}}</td>
      </tr>
 
      </div>
      <div class="col-sm">
        B.08
      </div>
      <div class="col-sm">
        B.02
      </div>

    </div>
  <!-- </table> -->

  </div>


